 /******************************************************************** ************************************************/
@media only screen and (min-width: 10px) {
	div.mptbm_transport_search_area {width: 100%;max-width: 1200px;}
	div.mptbm_transport_search_area div.tabsContentNext {padding: 0; margin: 30px 0 0 0; }
	div.mptbm_transport_search_area div.mptbm_distance_time { margin: var(--dmp) 0 0 0; }
	div.mptbm_distance_time h6 {font-size: var(--fs);color: var(--color_light_1);}
	div.mptbm_distance_time strong {font-size: var(--fs);}
	#mptbm_map_area { width: 100%; height: 100%; min-height: 200px;border-radius: 15px; }
	div.mptbm_form_details_area #mptbm_map_area{min-height: 300px;}
	div.mptbm_transport_summary,
	div.mptbm_extra_service {display: none;}
	div.mptbm_transport_search_area div[data-extra-service] {display: none;}
	div.get_details_next_link {display: none;}
	div.mptbm_transport_search_area .woocommerce-page span.woocommerce-input-wrapper,
	div.mptbm_transport_search_area .woocommerce-page table span {display: initial;}
	div.mptbm_transport_search_area .woocommerce-page label {margin: 0 0 var(--dmp_xs) 0;display:initial;}
	div.mptbm_transport_search_area .woocommerce-page label img{width:inherit !important;}
	div.mptbm_transport_search_area table th,
	div.mptbm_transport_search_area table td {border: none;}
	div.mptbm_transport_search_area .woocommerce form .form-row {margin-bottom: var(--dmp_xs);}
}
/******************************************************************** ************************************************/
@media only screen and (min-width: 10px) {
	div.mptbm_transport_search_area .mpTabsNext .tabItemNext {min-height: 135px;}
	div.mptbm_transport_search_area .circleIcon {width: 62px;height: 62px;font-size: 27px;font-weight: 600;color: #666666;background-color: #EAECEE; }
	div.mptbm_transport_search_area .tabItemNext.active [class*="circleIcon"] {background-color: var(--color_theme);color: #FFF;}
	div.mptbm_transport_search_area .tabItemNext.active [class*="circleIcon"].success {background-color: var(--color_success);}
	div.mptbm_transport_search_area .tabItemNext .circleTitle {font-weight: 400;color: #A9A9A9;margin: 0 !important;top: 80px;font-size: 22px;text-transform: capitalize;}
	div.mptbm_transport_search_area .tabItemNext.active .circleTitle {font-weight: 600;color: #152C5B;}
	div.mptbm_transport_search_area .tabItemNext [class*="circleIcon"]::after {top: 31px;border-color: #EAECEE;left: calc(50% + 31px);}
	/*********************/
	div.mptbm_transport_search_area .mptbm_search_area {padding: 40px;border-radius: var(--dbrl);}
	div.mptbm_transport_search_area .mptbm_search_area.inputHorizontal {max-width: 50%;}
	div.mptbm_transport_search_area .mptbm_search_area h3 {text-transform: uppercase;color: #152C5B;}
	div.mptbm_transport_search_area .mptbm_search_area label {font-weight: 400;color: #152C5B;}
	div.mptbm_transport_search_area .mptbm_search_area label .formControl {
		height: 47px;background-color: #F5F6F8;color: #222222;font-weight: 400;
		padding: var(--dmp_xs) 35px var(--dmp_xs) var(--dmp_xs);border-color: #EBECEE;
		background-image: url('../../mp_global/assets/images/arrow_down.png'); background-repeat: no-repeat; background-position: calc(100% - var(--dmp_xs)); background-size: auto;
		-webkit-appearance: none;
	}
	div.mptbm_transport_search_area .mptbm_map_area {max-width: calc(50% - 30px);width: 50%;}
	div.mptbm_form_details_area div.mptbm_map_area{max-width: 100%;width: 100%;}
	div.mptbm_transport_search_area #mptbm_start_date.formControl {padding: var(--dmp_xs) 35px var(--dmp_xs) 60px;}
	div.mptbm_transport_search_area #mptbm_return_date.formControl {padding: var(--dmp_xs) 35px var(--dmp_xs) 60px;}
	div.mptbm_transport_search_area div.mp_input_select .formControl {padding: var(--dmp_xs) 35px var(--dmp_xs) 60px;}
	div.mptbm_transport_search_area .mptbm_left_icon { position: absolute; left: 1px; bottom: 1px; width: 45px !important; font-size: 25px; background-color: var(--color_theme); color: #FFF; border-radius: var(--dbr) 0 0 var(--dbr); height: 46px; margin: 0 !important;}
	/*********************/
	div.mptbm_transport_search_area .leftSidebar h3 {color: #152C5B; font-size: 24px;font-weight: 700;text-transform: uppercase;}
	div.mptbm_transport_search_area .leftSidebar h6 {color: #152C5B;font-size: 17px;font-weight: 600;}
	div.mptbm_transport_search_area .leftSidebar p {color: #2B1818;font-size: 16px;font-weight: 400;}
	div.mptbm_booking_item h5 {color: #000;font-size: 24px;font-weight: 600}
	div.mptbm_booking_item h4 {color: #000;font-size: 36px;font-weight: 600;margin: 0 0 var(--dmp_xs) 0;}
	.mptbm_booking_item_hidden{display: none !important;}
	div.mptbm_transport_search_area ul.list_inline_two li {border: none;color: #626262;font-weight: 400;font-size: 12px;}
	div.mptbm_transport_search_area button.mptbm_price_calculation,
	div.mptbm_transport_search_area button.mptbm_transport_select {background-color: #EAECEE;color: #666;border-radius: var(--dbr);}
	div.mptbm_transport_search_area button.mptbm_price_calculation.active_select,
	div.mptbm_transport_search_area button.mptbm_transport_select.active_select {background-color: var(--color_theme);color: var(--color_theme_alter);}
	div.mptbm_transport_search_area div.mp_sticky_on_scroll {min-height: 400px;overflow: auto;}
}
/******************************************************************** Responsive ************************************************/
@media only screen and (max-width: 1000px) {
	div.mptbm_transport_search_area .mptbm_search_area {padding: 30px;}
}
@media only screen and (max-width: 800px) {
	div.mptbm_transport_search_area .mptbm_map_area{width:100%;max-width:100%;}
	div.mptbm_transport_search_area div.mptbm_booking_item,
	div.mptbm_pick_up_details > .justifyBetween {-webkit-flex-direction: column;flex-direction: column;}
	div.mptbm_transport_search_area .mptbm_search_area.inputHorizontal,
	div.mptbm_transport_search_area .mptbm_map_area,
	div.mptbm_transport_search_area .leftSidebar,
	div.mptbm_transport_search_area .leftSidebar .mp_sticky_area,
	div.mptbm_transport_search_area .mainSection {width: 100%;max-width: 100%;}
	div.mptbm_transport_search_area #mptbm_map_area {margin: var(--dmp) 0;min-height: 400px;}
	div.mptbm_transport_search_area .mainSection {margin: var(--dmp) 0 0 0;}
	div.mptbm_transport_search_area ul.list_inline_two li {width: 100%;}
	div.mptbm_transport_search_area div.mptbm_list_details [class*="_min_150"],
	div.mptbm_transport_search_area button.mptbm_transport_select {width: auto;min-width: 100px;}
}
@media only screen and (max-width: 600px) {
	div.mptbm_transport_search_area .mptbm_search_area {padding: 20px;}
	div.mptbm_transport_search_area .mpTabsNext .tabItemNext { min-height: 60px; }
	div.mptbm_transport_search_area .mpTabsNext .tabItemNext [class*="circleIcon"] {width: 30px;height: 30px;min-width: 30px;font-size: var(--fs);}
	div.mptbm_transport_search_area .mpTabsNext .tabItemNext [class*="circleIcon"]::after {top: 15px;left: calc(50% + 15px);}
	div.mptbm_transport_search_area .mpTabsNext .tabItemNext .circleTitle {font-size: 12px;top: 35px;}
}
.mptbm_transport_search_area{
	margin: 0 auto;
}