/* Media query for small screens */
@media only screen and (max-width: 768px) {
    .mptbm_geo_fence_settings_map .mptbm_map_area {
      width: 100%;
      margin-bottom: 20px; /* Adjust margin as needed */
    }
    
    /* Set the height of the map containers for small screens */
    .mptbm_geo_fence_settings_map .mptbm_map_area #mptbm-map-canvas-one,
    .mptbm_geo_fence_settings_map .mptbm_map_area #mptbm-map-canvas-two {
      height: 300px; /* Adjust height as needed */
    }
  }
  
  /* Media query for medium screens */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .mptbm_geo_fence_settings_map .mptbm_map_area {
      width: calc(50% - 10px); /* Adjust width and space between */
      float: left;
      margin-bottom: 20px; /* Adjust margin as needed */
      margin-right: 20px; /* Add space between map areas */
    }
    
    /* Set the height of the map containers for medium screens */
    .mptbm_geo_fence_settings_map .mptbm_map_area #mptbm-map-canvas-one,
    .mptbm_geo_fence_settings_map .mptbm_map_area #mptbm-map-canvas-two {
      height: 400px; /* Adjust height as needed */
    }
  }
  
  /* Default styling for larger screens */
  .mptbm_geo_fence_settings_map .mptbm_map_area {
    width: calc(50% - 20px); /* Adjust width and space between */
    float: left;
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  /* Default height for map containers */
  .mptbm_geo_fence_settings_map .mptbm_map_area #mptbm-map-canvas-one,
  .mptbm_geo_fence_settings_map .mptbm_map_area #mptbm-map-canvas-two {
    height: 600px; /* Adjust height as needed */
  }
  
  /* Clear float */
  .mptbm_geo_fence_settings_map:after {
    content: "";
    display: table;
    clear: both;
  }
  