@charset "utf-8";

/******************************************************************** Woocommerce ************************************************/
@media only screen and (min-width: 10px) 
{
	div.mpwpb_order_proceed_area .woocommerce .woocommerce-checkout .col_5,
	div.mpwpb_order_proceed_area .woocommerce .woocommerce-checkout .col_5 #customer_details,
	div.mpwpb_order_proceed_area .woocommerce .woocommerce-checkout .col_7,
	div.mpwpb_order_proceed_area .woocommerce .woocommerce-checkout .col_7 .col2-set,
	div.mpwpb_order_proceed_area .woocommerce-page .woocommerce-checkout .col_5,
	div.mpwpb_order_proceed_area .woocommerce-page .woocommerce-checkout .col_5 #customer_details,
	div.mpwpb_order_proceed_area .woocommerce-page .woocommerce-checkout .col_7,
	div.mpwpb_order_proceed_area .woocommerce-page .woocommerce-checkout .col_7 .col2-set
	{
		width: 100%;
		float:none;
	}

	div.mpwpb_order_proceed_area input[type="file"] 
	{
		width: 100%;
		border: 1px solid #8f8f9d;
  		padding: .9rem 1.1rem;
		line-height: 1.25;
		font-size: var(--wp--preset--font-size--small);
	}

	div.mpwpb_order_proceed_area .woocommerce-page .danger-text 
	{
		color: var(--color_danger);
	}

	div.mpwpb_order_proceed_area .woocommerce-page .danger 
	{
		border: 1px solid var(--color_danger);
		color: var(--color_danger);
	}

}
